<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.login.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>controller.laptops.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaptopServlet</servlet-name>
        <servlet-class>controller.LaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaptopsServlet</servlet-name>
        <servlet-class>controller.LaptopsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLaptopServlet</servlet-name>
        <servlet-class>controller.laptops.ListLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotdealsServlet</servlet-name>
        <servlet-class>controller.HotdealsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.user.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListManageServlet</servlet-name>
        <servlet-class>controller.manage.ListManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.manage.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>controller.manage.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>controller.user.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.manage.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrandServlet</servlet-name>
        <servlet-class>controller.manage.AddBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserServlet</servlet-name>
        <servlet-class>controller.manage.ListUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpRoleServlet</servlet-name>
        <servlet-class>controller.manage.UpRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownRoleServlet</servlet-name>
        <servlet-class>controller.manage.DownRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.user.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>controller.user.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <servlet-class>controller.user.ChangeQuantityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checklaptops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaptopsServlet</servlet-name>
        <url-pattern>/laptops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLaptopServlet</servlet-name>
        <url-pattern>/listlaptops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotdealsServlet</servlet-name>
        <url-pattern>/hotdeals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListManageServlet</servlet-name>
        <url-pattern>/listmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrandServlet</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserServlet</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpRoleServlet</servlet-name>
        <url-pattern>/uprole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownRoleServlet</servlet-name>
        <url-pattern>/downrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/removeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeQuantityServlet</servlet-name>
        <url-pattern>/changequantity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
